main {
    padding: 10px;
}

.container {
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.colorHeaderList {
    border-radius: 10px;
    background-color: #00995D;
    color: white;
}

h2 {
    color: var(--cor-terciaria);
    text-align: center;
}

section.tabs {
    display: none;
}

section.tabActive {
    display: block;
}