main.container {
    width: 60%;
    margin-top: 30px;
    padding: 0;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: var(--cor-terciaria);
}

form {
    padding: 10px;
    background-color: var(--cor-secundaria);
    border-radius: 5px;
}

div.form-group {
    margin-bottom: 0;
}

div.form-group>div {
    margin-bottom: 20px;
}

label {
    color: white;
    margin-bottom: 10px;
}

div#campo-sexo label {
    margin: 0;
}

button.btn {
    display: block;
    margin: 20px auto;
}

@media screen and (max-width: 767px) {
    main.container {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
    }

    form {
        border-radius: 0;
    }
}