:root {
    --cor-primaria: #00995D;
    --cor-secundaria: #004E4C;
    --cor-terciaria: #808080;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: medium;
    font-weight: normal;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid var(--cor-secundaria);
}

header>div {
    flex: 1;
    display: flex;
    justify-content: center;
}

header>div:first-child {
    justify-content: flex-start;
    align-items: center;
}

header>div:last-child {
    justify-content: flex-end;
}

span {
    position: fixed;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

nav {
    position: fixed;
    left: -500px;
    top: 0;
    height: 100vh;
    background-color: var(--cor-primaria);
}

.menu {
    left: 0;
    transition: 1.5s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 96px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

nav li {
    border-top: 1px solid black;
}

nav a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor-secundaria);
    color: white;
    transition: 0.3s ease;
    text-decoration: none;
}

h1 {
    color: var(--cor-primaria);
    font-weight: bold;
}

footer p {
    margin-top: 16px;
    text-align: center;
}

@media screen and (max-width: 984px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    span {
        position: static;
    }

    nav {
        display: none;
    }

    .menu {
        display: block;
        position: static;
        height: 100%;
        background-color: white;
    }

    nav ul {
        margin: 10px;
        text-align: center;
    }
}