:root {
    --cor-primaria: #00995D;
    --cor-secundaria: #004E4C;
    --cor-terciaria: #808080;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--cor-secundaria);
    color: white;
    border-radius: 5px;
    padding: 20px;
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: none;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    height: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

form button {
    display: block;
    margin: 10px auto 0px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px;
}

form button:hover {
    background-color: var(--cor-primaria);
    color: white;
    transition: 0.3s ease;
}

footer {
    text-align: center;
}

/* Estilização do link enquanto ainda não há validação de formulários para fazer com button */
main.container a {
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto 0;
    padding: 2px;
    text-decoration: none;
    text-align: center;
}

main.container a:hover {
    background-color: var(--cor-primaria);
    color: white;
    transition: 0.3s ease;
}

@media screen and (max-width: 767px) {
    body {
        height: 0;
    }

    form {
        width: 100%;
        border-radius: 0;
    }

    form input {
        width: 100%;
    }
}