:root {
    --cor-primaria: #00995D;
    --cor-secundaria: #004E4C;
    --cor-terciaria: #808080;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: medium;
    font-weight: normal;
}

header#header-restrito {
    margin: 0;
}

nav#navbar {
    padding: 5px;
}

h1 {
    text-align: center;
}